$bgbody: azure;
// variabile pentru elemente de tip text
$text1: blueviolet;
$text2: blue;
$text3: chocolate;
$text4: crimson;
$text5: darkolivegreen;
$bgtext: lavender;
$fontsize: 2rem;
// vriabile pentru elemente de tip bloc
$bgdiv1: lawngreen;
$bgdiv2: lightseagreen;
$bgdiv3: mediumvioletred;
$bgdiv4: lightgreen;
$bgdiv5: gold;
$bgdiv6: deepskyblue;
$bgdiv7: fuchsia;
$bgdiv8: orange;
$bgdiv9: orangered;
$divborder: 1px solid black;
$divw: 200px;
$divh: 200px;
$divm: auto;
$divmb: 25px;
$divmt: 50px;
$divcerc: 50%;
$divrotunjor: 25%;






