h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    margin: auto;
    border-style: ridge;
    border-width: 5px;
    max-width: 80%;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    padding: 0px;
    empty-cells: show;
}

.img {
    visibility: visible;
}

.img :hover {
    visibility: visible;
    animation: no_move 1.2s infinite;
    animation-direction: alternate;
}

.pos {
    width: 50px;
    height: 50px;
    padding: 4px;
    border: none;
    text-align: center;
    empty-cells: show;
    font-size: 40px;
    font-weight: bold;
}

td div {
    height: 50px;
    width: 50px;
    overflow: visible;
}

.blk {
    background: rgb(49, 49, 49);
}

@keyframes no_move {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}

@keyframes pion_alb_1 {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(0px, -188%);
    }
}

@keyframes pion_alb_2 {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(0px, -94%);
    }
}

@keyframes pion_negru_1 {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(0px, 188%);
    }
}

@keyframes pion_negru_2 {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(0px, 94%);
    }
}

@keyframes cal_alb_1 {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(95%, -188%);
    }
}

@keyframes cal_alb_2 {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(-95%, -188%);
    }
}

@keyframes cal_negru_1 {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(95%, 188%);
    }
}

@keyframes cal_negru_2 {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(-95%, 188%);
    }
}

@keyframes tura_negru_1 {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(285%, 0px);
    }
}

@keyframes tura_negru_2 {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(0px, 560%);
    }
}

@keyframes rege_negru {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(100%, 0px);
    }
}

@keyframes regina_negru {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(190%, 0px);
    }
}

@keyframes nebun_negru {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(-93%, 95%);
    }
}

@keyframes regina_alb {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(285%, -282%);
    }
}

@keyframes nebun_alb {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(95%, -94%);
    }
}

@keyframes tura_alb {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(0px, -470%);
    }
}

@keyframes rege_alb {
    0% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1.25) translate(95%, 0px);
    }
}

#pion_wht_1 :hover {
    scale: 1.25;
    visibility: visible;
    animation: pion_alb_1 3s infinite;
    animation-direction: alternate;
}

#pion_wht_2 :hover {
    visibility: visible;
    animation: pion_alb_2 3s infinite;
    animation-direction: alternate;
}

#pion_blk_1 :hover {
    visibility: visible;
    animation: pion_negru_1 3s infinite;
    animation-direction: alternate;
}

#pion_blk_2 :hover {
    visibility: visible;
    animation: pion_negru_2 3s infinite;
    animation-direction: alternate;
}

#cal_wht_1 :hover {
    visibility: visible;
    animation: cal_alb_1 3s infinite;
    animation-direction: alternate;
}

#cal_wht_2 :hover {
    visibility: visible;
    animation: cal_alb_2 3s infinite;
    animation-direction: alternate;
}

#cal_blk_1 :hover {
    visibility: visible;
    animation: cal_negru_1 3s infinite;
    animation-direction: alternate;
}

#cal_blk_2 :hover {
    visibility: visible;
    animation: cal_negru_2 3s infinite;
    animation-direction: alternate;
}

#tura_blk_1 :hover {
    visibility: visible;
    animation: tura_negru_1 3s infinite;
    animation-direction: alternate;
}

#tura_blk_2 :hover {
    visibility: visible;
    animation: tura_negru_2 3s infinite;
    animation-direction: alternate;
}

#rege_blk :hover {
    visibility: visible;
    animation: rege_negru 3s infinite;
    animation-direction: alternate;
}

#regina_blk :hover {
    visibility: visible;
    animation: regina_negru 3s infinite;
    animation-direction: alternate;
}

#nebun_blk_1 :hover {
    visibility: visible;
    animation: nebun_negru 3s infinite;
    animation-direction: alternate;
}

#regina_wht :hover {
    visibility: visible;
    animation: regina_alb 3s infinite;
    animation-direction: alternate;
}

#nebun_wht_1 :hover {
    visibility: visible;
    animation: nebun_alb 3s infinite;
    animation-direction: alternate;
}

#tura_wht_1 :hover {
    visibility: visible;
    animation: tura_alb 3s infinite;
    animation-direction: alternate;
}

#rege_wht :hover {
    visibility: visible;
    animation: rege_alb 3s infinite;
    animation-direction: alternate;
}